<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta
      name="description"
      content="WASM API client with bells and whistles."
    />
    <link rel="stylesheet" href="css/pico.classless.green.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/index.js" type="module"></script>
    <script src="js/wasm_exec.js"></script>
    <title>Clientele</title>
  </head>
  <body>
    <script>
      const go = new Go();
      const WASM_URL = 'clientele.wasm';
      var clientele;

      if ('instantiateStreaming' in WebAssembly) {
	WebAssembly.instantiateStreaming(fetch(WASM_URL), go.importObject).then(function (obj) {
	  clientele = obj.instance;
	  go.run(clientele);
	})
      } else {
	fetch(WASM_URL).then(resp => resp.arrayBuffer()).then(bytes =>
	  WebAssembly.instantiate(bytes, go.importObject).then(function (obj) {
	    clientele = obj.instance;
	    go.run(clientele);
	  })
	)
      }

      // TODO: Reload the runtime if it exits.
    </script>

    <header>
      <nav>
        <ul>
          <li>
            <strong>
              <a href="/">Making use of our clientele</a>
            </strong>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{block "content" .}}
      <p>Content not loaded! This is an error.</p>
      {{end}}
    </main>
    <footer>
      <a href="https://github.com/ioansx/clientele">GitHub</a>
    </footer>
  </body>
</html>
