{{ define "content" }}
<h1>Man</h1>

<p>
Inspect man pages for unix-like commands such as:
</p>
<ul>
  <li> man </li>
  <li> ls </li>
  <li> grep </li>
  <li> ... </li>
</ul>

<section x-data="{ pageInput: '', pageOutput: '' }">
  <script>
    async function fetchPage($data) {
      try {
        const resp = await clientele.manGet($data.pageInput).then(x => x.json());
        $data.pageOutput = resp.dat.output;
      } catch (e) {
        const resp = JSON.parse(e);
        alert(resp.err);
      }
    }
  </script>

  <form>
    <label>
      Page:
      <input type="text" x-model=pageInput required>
    </label>
    <button @click.prevent="await fetchPage($data)">Fetch</button>
  </form>

  <br>

  <article>
    <header></header>
    <pre x-html="pageOutput"></pre>
  </article>
</section>
{{ end }}

{{ template "base.tmpl" }}
