{{ define "content" }}
<h1>Man</h1>

<p>
Inspect man pages for unix-like commands such as:
</p>
<ul>
  <li> man </li>
  <li> ls </li>
  <li> grep </li>
  <li> ... </li>
</ul>

<form name="page_man__form">
  <label>
    Command:
    <input name="command" required>
  </label>
  <button>Fetch</button>
</form>

<article id="page_man__output">
  <header></header>
  <pre></pre>
</article>
{{ end }}

{{ template "base.tmpl" }}
